.album{
  margin: auto;

}

#album-cover-art{
  margin-top: 50px;
}

#album-title{
  font-size: 30px;
  margin-bottom: 0px;
}

.artist{
  font-weight: lighter;
}

#release-info{


}

/*Playing*/
/*
.ion-pause {
display: block;
}

.song-number,
.ion-play{
display: none;
}
*/

/*Not Playing*/
button:hover .song-number,
button:hover .ion-pause,
.ion-pause,
.ion-play {
display: none;
}

{this.play} .ion-pause,
.song-number{
  display: block;
}
/*
.song-number,
.ion-pause,
.ion-play{
display: block;
}
*/
