.Library{
  font-family: Slabo;
}

#album-cover{
  padding-top: 50px;
}

#album-info{
  text-decoration: none !important;
}

#title,
#artist,
#song-length{

  color: mediumblue;
  margin-top: 5px;
  display: inline-block;
  margin-right: 15px;
  font-size: 30px;

}


#title{
  font-size: 30px;
  display: inline-block;


}

#artist{


display: inline-block;
}

#song-length{

}
