#album-cover{
  padding-top: 50px;
}

#album-info{
  text-decoration: none !important;
}

#title,
#artist,
#song-length{

  color: mediumblue;
  margin-top: 5px;

}

#title{
  font-size: 30px;

}

#artist{
  font-size: 20px;

}

#song-length{
  font-size: 18px;
}
